/* Reset e estilo base */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #1f2937;
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex; /* Ativa o flexbox */
    align-items: center; /* Alinha os itens verticalmente */
    justify-content: space-between; /* Logo à esquerda e links à direita */
    height: 80px;
    padding: 0 20px; /* Espaçamento interno para as bordas */
}

/* Estilo do logo */
#header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    text-decoration: none; /* Remove o sublinhado */
    margin-left: 180px; /* Margem à esquerda para afastar do limite */
}

.nav-links a {
    color: #E5E7EB;
    font-size: 20px;
    text-decoration: none;
    margin-left: 30px; /* Espaçamento entre os links */
}

#box { 
    display: flex; /* Ativa o flexbox para a div */
    align-items: center; /* Alinha os itens verticalmente no centro */
    justify-content: flex-start; 
    padding: 90px 0;
    margin-left: 200px;
    }
.title-description {
    flex: 1; /* Ocupa o espaço disponível à esquerda */
    max-width: 600px; /* Define a largura máxima para o conteúdo */
    }
    
.title {
    font-size: 55px;
    width: 100%; /* O texto ocupará 100% da largura do contêiner */
    }
    
.description {
    color: #E5E7EB;
    width: 100%; /* O texto ocupará 100% da largura do contêiner */
    max-width: 470px;
    padding: 0 0 20px;
    }
    
 #button {
    display: inline-block;
    background-color: #3882f6;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px; /* Distância do botão para o texto */
    }
    
.section-image {
    width: 400px; /* Largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
    margin-left: 10px; /* Ajuste a distância entre a imagem e o conteúdo */
    }

.title-second {
    text-align: center;
    
}

.gallery {
    background-color: #fff;
}

.title-second {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 55px;
  
}
.boxes {
    display: flex;             /* Alinha os itens lado a lado */
    justify-content: space-between; /* Espaça uniformemente as boxes */
    gap: 20px;     
    padding-bottom: 55px;            /* Espaçamento entre os elementos */
}

.box {
    display: flex;             /* Flexbox no contêiner individual */
    flex-direction: column;    /* Coloca os itens (imagem e legenda) em coluna */
    align-items: center;       /* Centraliza os itens horizontalmente */
    text-align: center;      
    max-width: 75%;   
    justify-content: space-between;
}

.image {
                 /* Largura da imagem */
    height: auto;              /* Mantém a proporção da imagem */
    border-radius: 10px;       /* Cantos arredondados na imagem */
    border: 4px solid #3498db; 
    
    /* Adiciona uma borda à imagem */
}

.square {
    flex-direction: row;
    margin-top: 10px;          /* Espaçamento entre a imagem e a legenda */
    font-size: 16px;           /* Tamanho da fonte da legenda */
    color: #333;               /* Cor do texto da legenda */
}

.quote-section {
    background-color: #E5E7EB;
    color: #1f2937;
    padding: 100px;
    
}

.quote {

    font-size: 36px;
    font-style: italic;
}

.author {
    font-weight: bolder;
    text-align: right;
}

.register {
    background-color: #fff;
    padding: 100px;
    padding-left: 300px;

}

.box-calls {
    background-color: #3498db;
    width: 800px;
    padding-top: 50px;
    justify-content: center;
    padding-left: 50px;
    margin: 0px 10px 20px;
    border-radius: 10px;

}

.call-first {
    font-weight: bolder;
}

.call-second {
    font-weight: lighter;
    color:#E5E7EB;
}

.final {
    background-color: #1f2937;
    padding: 30px;
}

.text-footer {
    color: #E5E7EB;
    text-align: center;
    
}